@CHARSET "UTF-8";

.myheader{
 font-size : 30px;
 margin-left : 100px;
 margin-right : 100px;
 margin-top : 50px;
 height : 10px;
}
.myfooter{
 background-color:gray;
 margin-left : 100px;
 margin-right : 100px;
 height : 200px;
}
.collaborator11{
  border-style:dotted;
  border-width:0px;
  border-color: black;
}

/* This is for Start new project */
