<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>ToDo-List</title>
  <link rel = "stylesheet" type = "text/css" href = "../static/css/mystyle.css">
  <link rel = "stylesheet" type = "text/css" href = "../static/bootstrap-2.2.2/css/bootstrap.css">
</head>

<body>
    <div class = "container" >  
      <a href="https://www.Do-it.com/"> Do-it.com </a>
      <p1> Start a new project </p1> 
      <br>
   </div>
   
    <div class = "container" >  
        <h2>
          <span id = "Project title">DO-IT</span> Project
        </h2>
          <div class="row">
              <div class="span3">
                 <div class = "collaborator">
                    <h1 class = "collaborator_name_colour1"> Shishupal</h1>
                    <ol>
                        <li>
                          <div class="task">
                            <span class="task-description">Fun</span>
                          </div>
                        </li>
                       <li>
                          <div  class="create-newtask">
                            <input  type="text" />
                          </div>
                        </li>
                     </ol>
                  </div>
              </div>
              <div class="span3">
                <div class = "collaborator">
                  <h1 class = "collaborator_name_colour2">Anurag</h1>
                  <ol>
                      <li>
                          <div class="task">
                            <span class="task-description">Fun</span>
                          </div>
                       </li>
                       <li>
                          <div class="create-newtask">
                            <input type="text"/>
                          </div>
                      </li>
                  </ol>
                  </div>
              </div>
              <div class="span3">
                <div class = "collaborator">
                  <h1 class = "collaborator_name_colour3">Saurabh</h1>
                  <ol>
                      <li>
                          <div class="task">
                            <span class="task-description">Fun</span>
                          </div>
                       </li>
                       <li>
                          <div class="create-newtask">
                            <input type="text"/>
                          </div>
                      </li>
                  </ol>
                 </div>
              </div>
              <div class="span3" >
                <div class = "collaborator">
                  <div class="create-newtask">
                        <span class="task-handle">&nbsp;</span>
                        <input type="text"/>
                        <button type="button" onclick="alert('Hello world!')">Add</button>
                        <button onclick="myFunction()">Try it</button>
                  </div>
                  <h1 class = "collaborator_new_colour3">Add New Collaborator</h1>
                </div>
              </div>
           </div>
    </div>
    <div class = "strip1"> </div>
    <div class = "strip2"> </div>
    <div class = "strip1"> </div>
    <div class = "container">
        <div class = "row">
            <div class = "span3">
              <div class = "collaborator">
                <h1 class = "footer_collaborator">BACKLOG</h1>
                <ol>
                        <li>
                          <div class="task">
                            <span class="task-description">Fun</span>
                          </div>
                        </li>
                       <li>
                          <div  class="create-newtask">
                            <input  type="text" />
                          </div>
                        </li>
                     </ol>
              </div>
            </div>
            <div class = "span3">
              <div class = "collaborator">
                <h1 class = "footer_collaborator">DONE ITEMS</h1>
                <ol>
                        <li>
                          <div class="task">
                            <span class="task-description">Fun</span>
                          </div>
                        </li>
                       <li>
                          <div  class="create-newtask">
                            <input  type="text" />
                          </div>
                        </li>
                     </ol>
              </div>
           </div>
         </div>
    </div>

  <script src="../static/js/todolist.js"></script>
</body>

</html>

