<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>ToDo-List</title>
  <link rel = "stylesheet" type = "text/css" href = "../static/css/mystyle.css">
  <link rel = "stylesheet" type = "text/css" href = "../static/bootstrap-2.2.2/css/bootstrap.css">
</head>

<body>
    <div class = "container" >  
      <div class = "row">
          <div class = "span2">
            <a href="https://www.Do-it.com/"> Do-it.com </a>
          </div>
          <div class = "span2 offset8">
            <p id="start_a_new_page"> Start a new project </p>
          </div>
      </div>
   </div>
   
    <div class = "container" >  
        <h2>
          <span id = "Project title">DO-IT</span> Project
        </h2>
          <div class="row">
              <div class="span3">
                 <div class = "collaborator">
                    <h1 class = "collaborator_name_colour1"> Shishupal</h1>
                    <ol id = "collaborator1">
                        <li>
                          <div class="task">
                            <span class="task-description">Fun</span>
                          </div>
                        </li>
                     </ol>
                     <input type="text" onchange="mynewFunction1(this)" />
                  </div>
              </div>
              <div class="span3">
                <div class = "collaborator">
                  <h1 class = "collaborator_name_colour2">Anurag</h1>
                  <ol id = "collaborator2">
                      <li>
                          <div class="task">
                            <span class="task-description">Fun</span>
                          </div>
                       </li>
                  </ol>
                  <input type="text" onchange="mynewFunction2(this)" />
                  </div>
              </div>
              <div class="span3">
                <div class = "collaborator">
                  <h1 class = "collaborator_name_colour3">Saurabh</h1>
                  <ol id = collaborator3>
                      <li>
                          <div class="task">
                            <span class="task-description">Fun</span>
                          </div>
                       </li>
                  </ol>
                  <input type="text" onchange="mynewFunction3(this)" />
                 </div>
              </div>
              <div class="span3" >
                <div class = "collaborator">
                  <div class="create-newtask">
                        <span class="task-handle">&nbsp;</span>
                        <input type="text"/>
                  </div>
                  <h1 class = "collaborator_new_colour3">Add New Collaborator</h1>
                  <button id ="ad">+Add</button>
                </div>
              </div>
        </div>
        <div class = "strip1"> </div>
        <div class = "strip2"> </div>
        <div class = "strip1"> </div>
    </div>
   
    <div class = "container">
        <div class = "row">
            <div class = "span3">
              <div class = "collaborator">
                <h1 class = "footer_collaborator">BACKLOG</h1>
                <ol id = "BACKLOG">
                        <li>
                          <div class="task">
                            <span class="task-description">Fun</span>
                          </div>
                        </li>
                     </ol>
                     <input type="text" onchange="BACKLOG(this)" />
              </div>
            </div>
            <div class = "span3">
              <div class = "collaborator">
                <h1 class = "footer_collaborator">DONE_ITEMS</h1>
                <ol id = "DONE_ITEMS">
                        <li>
                          <div class="task">
                            <span class="task-description">Fun</span>
                          </div>
                        </li>
                     </ol>
                  <input type="text" onchange="DONE_ITEMS(this)" />
              </div>
           </div>
         </div>
    </div>
    
    
  <script src="../static/js/jquery-1.8.3.min.js"></script>
  <script src="../static/js/todolist.js"></script>
  
</body>

</html>